* {
  margin:0;
  padding:0;
}
a {
  color:#97e8fc;
  font-size:16px;
}
body {
  background:#eee;
  font-family:verdana;
}
h1 {
  color:#EA3788;
  font-size:24px;
}
p {
  font-size:16px;
}
ul {
  list-style-type:none;
}
#cabecera {
  color:#ff9;
  background-color: #A8D5E2;
  padding:10px;
}
#contenedor {
  margin:0 auto;
  width:1024px;
  height:1500;
}
#contenido {
  background-color:#EFE9F4;
  float:left;
  height:1340px;
  padding:10px;
  width:784px;
}
#menu {
  background-color:#EE6352;
  float:left;
  height:1280px;
  padding:40px;
  width:140px;
}
#pie { 
  background-color:#0096c0;
  clear:both;
  color:#900;
  padding:20px;
  text-align:left;
}